PUBLIC_SITE_URL=https://nixwud.com

PUBLIC_SANITY_PROJECT_ID=jd42zs3r
PUBLIC_SANITY_DATASET=production
PUBLIC_SANITY_API_VERSION=2025-01-01

PUBLIC_DISABLE_SANITY=false
PUBLIC_MAINTENANCE_MODE=false

PUBLIC_GOOGLE_ANALYTICS_ID=G-7RY15GCJ1Z
